# Django #
*.log
*.pot
*.pyc
__pycache__
media

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
Administrador/migrations/0002_alter_usuario_options_alter_usuario_table.py
Administrador/migrations/0003_alter_usuario_options_inventario_cantidad_and_more.py
