{% extends 'General/base.html' %}
{% block title %} Mi Carrito {% endblock %}

{% block content %}
    {% include 'General/navbar.html' %}
    <div class = "container">
        <div class="toast-container position-fixed show bottom-0 end-0 m-3">
            <!-- Notificación -->
            {% for message in messages %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Notificación</strong>
                        <small>Justo ahora</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body">
                        {{message}}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class = "p-3 mx-5 d-flex justify-content-evenly shadow-sm bg-body rounded" id = "carrito-resumen">
            <div class = "col-auto">
                <h5>Productos: <span class="badge bg-primary">{{request.session.carrito | length}}</span></h5>
            </div>
            <div class = "col-auto">
                <h5>Total: <span class="badge bg-success">${{total| floatformat:2 }}</span></h5>
            </div>
        {% if carrito %}
            {% if user.is_authenticated %}
                <div class = "col-auto">
                    <button type="button" class="btn btn-primary" id="realizarOrden">Realizar orden</button>
                </div>
            {% endif %}

        {% endif %}
        </div>
        <div class = "my-5 p-4 d-flex justify-content-evenly shadow bg-body rounded">
            <table class="table table-borderless caption-top table-responsive">
                <caption>Productos en mi carrito </caption>
                <thead id = "encabezado-carrito">
                    <tr>
                        <th class ="d-none d-md-table-cell"></th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody id  ="detalle-carrito" class="align-middle">
                {% if carrito%}
                    {% for c in carrito %}
                        <tr>
                            <td class ="d-none d-md-table-cell">
                                <img src="{{c.urlFotoPrenda}}" class="card-img-top" alt="..." id = "foto-producto">
                            </td>
                            <td>{{c.nombrePrenda}} <br></br>Talla: {{c.tallaNombre}}</td>
                            <td><span class="badge bg-success">${{c.precioPrenda | floatformat:2 }}</span></td>
                            <td><span class="badge bg-primary">{{c.cantidad}}</span></td>
                            <td><span class="badge bg-success">${{c.subtotal | floatformat:2 }}</span></td>
                            <td>
                                <a href="{% url 'quitarPrenda' forloop.counter %}" class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i></a>
                            </td>
                        </tr>
                    {% endfor%}

                {% else %}
                    <tr>
                        <td colspan = "6">
                            <div class="alert alert-primary text-center" role="alert">
                                Aún no has agregado productos a tu carrito.  <a href="productos/" style = "text-decoration: underline;"class="link-primary">¡Empieza a comprar ahora mismo!</a>
                            </div>
                        </td>
                    </tr>
                {% endif%}

                </tbody>
            </table>
        </div>
        {% if carrito%}
            <div class="p-3 row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Vaciar mi carrito
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Modal Limpiar Carrito -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Vaciar carrito</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class = "row">
                    <i style = "font-size: 5rem; color:"class="bi bi-cart-x-fill"></i>
                </div>
            <h5>¿Estás seguro que deseas eliminar todos los productos de tu carrito de compras?</h5>
            </div>
            <div class="modal-footer d-flex justify-content-evenly">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <a href= {%url 'limpiarCarrito'%} type="button" class="btn btn-primary" style = "">Vaciar mi carrito</a>
            </div>
        </div>
        </div>
  </div>
{% endblock %}
{% block js%}
<script>
$('#realizarOrden').click(()=>{
    $.ajax({
        type: 'GET',
        url: "{% url 'realizarOrden'%}",
    }).done((response)=>{
        if (response.status == 200) {
            window.open('http://tekedafash.pythonanywhere.com/dashboard/reporte/Factura/' + response.ordenId);
            location.href = "http://tekedafash.pythonanywhere.com/";
        } else {
            location.href = "http://tekedafash.pythonanywhere.com/miCarrito";
        }
    })
    .fail(function(jqXHR){
        console.log('Error:' + jqXHR.status + ' ' + jqXHR.statusText);
    });
});
</script>
{%endblock%}
