{% extends 'General/base.html' %}
{% block title %} Iniciar Sesión {% endblock %}

{% block content %}
    {% include 'General/navbar.html' %}
    <div class="container"> 
        <div class="row my-2">
            <h1>Detalle de la Compra</h1>
        </div>
        <div class="row"> 
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-between mt-2">
                            <div class="col-4">
                                <p><b>Producto:</b> <span class="badge bg-secondary">{{ventas | length}}</span></p>
                            </div>
                            <div class="col-4">
                                <p class="text-end"><b>Monto:</b> <span class="badge text-bg-primary">${{monto | floatformat:2}}</span></p>  
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped" id="tbl-ordenes">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Talla</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">SubTotal</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for venta in ventas %}
                            <tr>
                                <td>{{forloop.counter}} </td>
                                <td>{{venta.inventario.prenda.nombre}} </td>
                                <td>{{venta.inventario.prenda.descripcion}} </td>
                                <td>{{venta.inventario.talla.nombre}} </td>
                                <td>{{venta.cantidad}} </td>
                                <td>${{venta.precio | floatformat:2}} </td>
                                <td>${{venta.subtotal | floatformat:2}} </td>
                            </tr>
                        {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}