{% extends 'General/baseAdmin.html' %}
{% block title %} Edicion de staff {% endblock %}

{% block body %} 
<style>
    .errorlist li {
  background-color: #f44336;
  color: white;
}
</style>
<h1>Editar Perfil</h1>
<br>
<div class="d-flex justify-content-center">
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
<script>
    document.getElementsByClassName("helptext")[0].remove()
</script>
 
{% endblock %}