{% extends 'General/base.html' %}
{% block title %} Edición de perfil {% endblock %}

{% block content %} 
    {% include 'General/navbar.html' %}
    <style>
        .errorlist li {
            background-color: #f44336;
            color: white;
        }
    </style>
<h1>Editar Perfil</h1>
<div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_p}}
        </table>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
<script>
    document.getElementsByClassName("helptext")[0].remove()
</script>
 
{% endblock %}