{% extends 'General/base.html' %}
{% load static %}
{% block title %} Inicio {% endblock %}

{% block content %}
    {% include 'General/navbar.html' %}
    <div data-aos="fade-up">
      <div class="mt-0 h-20">
        <img src="https://p0.piqsels.com/preview/73/280/970/4k-wallpaper-boutique-business-clothes.jpg" class="w-100 mh-25 d-inline-block" alt="Imagen">
      </div>
      <div class="container">
          <div class="section-header pt-5">
              <h2>Nuevos producto</h2>
          </div>
          <div class="row">
              <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <a href="https://previews.123rf.com/images/victorias/victorias1307/victorias130700134/20859878-hermosa-mujer-que-llevaba-en-un-magn%C3%ADfico-vestido-de-rojo-sobre-fondo-blanco-studio-foto-fashion-.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="https://previews.123rf.com/images/victorias/victorias1307/victorias130700134/20859878-hermosa-mujer-que-llevaba-en-un-magn%C3%ADfico-vestido-de-rojo-sobre-fondo-blanco-studio-foto-fashion-.jpg" class="img-fluid" alt=""></a>
                    <div class="portfolio-info">
                      <h4><a href="portfolio-details.html" title="More Details">App 1</a></h4>
                      <p>Lorem ipsum, dolor sit amet consectetur</p>
                    </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <a href="https://previews.123rf.com/images/victorias/victorias1307/victorias130700134/20859878-hermosa-mujer-que-llevaba-en-un-magn%C3%ADfico-vestido-de-rojo-sobre-fondo-blanco-studio-foto-fashion-.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="https://previews.123rf.com/images/victorias/victorias1307/victorias130700134/20859878-hermosa-mujer-que-llevaba-en-un-magn%C3%ADfico-vestido-de-rojo-sobre-fondo-blanco-studio-foto-fashion-.jpg" class="img-fluid" alt=""></a>
                    <div class="portfolio-info">
                      <h4><a href="portfolio-details.html" title="More Details">App 1</a></h4>
                      <p>Lorem ipsum, dolor sit amet consectetur</p>
                    </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                  <div class="portfolio-wrap">
                    <a href="https://previews.123rf.com/images/victorias/victorias1307/victorias130700134/20859878-hermosa-mujer-que-llevaba-en-un-magn%C3%ADfico-vestido-de-rojo-sobre-fondo-blanco-studio-foto-fashion-.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="https://previews.123rf.com/images/victorias/victorias1307/victorias130700134/20859878-hermosa-mujer-que-llevaba-en-un-magn%C3%ADfico-vestido-de-rojo-sobre-fondo-blanco-studio-foto-fashion-.jpg" class="img-fluid" alt=""></a>
                    <div class="portfolio-info">
                      <h4><a href="portfolio-details.html" title="More Details">App 1</a></h4>
                      <p>Lorem ipsum, dolor sit amet consectetur</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% include 'General/footer.html' %}
{% endblock %}