{% extends 'General/base.html' %}
{% load static %}
{% block title %} Inicio {% endblock %}

{% block content %}
    {% include 'General/navbar.html' %}
    <div data-aos="fade-up">
      <div class="mt-0 h-20">
        <img src="https://p0.piqsels.com/preview/73/280/970/4k-wallpaper-boutique-business-clothes.jpg" class="w-100 mh-25 d-inline-block" alt="Imagen">
      </div>
      <div class="container">
          <div class="section-header pt-5">
              <h2>Nuestras Recomendaciones</h2>
          </div>
          <div class="row">
            {% for product in prendas %}
              {% if product.id == numero1 or product.id == numero2 or product.id == numero3  %}
                <div class="col-md-6 col-lg-4">
                    <figure class="card card-product-grid">
                        <div class="img-wrap mt-2">                
                            <div style="display: flex; justify-content: center;"><a href="{{ product.urlFoto }}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{ product.urlFoto }}" class="img-fluid" style="width: 200px; height: 200px;" alt=""></a></div>                
                        </div>
                        <figcaption class="info-wrap">
                            <h4 class="text-center mt-2">{{ product.nombre }}</h4>
                            <h4 class="text-center">${{ product.precioVenta| floatformat:2 }}</h4>
                            <div style="display: flex; justify-content: center; margin-bottom: 10px;">
                                <a href="{% url 'detalleDeProducto' product.id %}" class="btn btn-primary">Ver detalle</a>
                            </div>                                
                        </figcaption>
                    </figure>
                </div>
              {% endif %}
            {% endfor %}           
          </div>
      </div>
    </div>
    {% include 'General/footer.html' %}
{% endblock %}