<section id="contact" class="contact">
    <div class="container mb-2" data-aos="fade-up">
            <div class="row">
                <h1>Perfil</h1>
                <table class="table">
                    <tr>
                        <td>Nombre de usuario: </td>
                        <td>{{usuario.username}} </td>
                    </tr>
                    <tr>
                        <td>Nombres: </td>
                        <td>{{usuario.first_name}} </td>
                    </tr>
                    <tr>
                        <td>Apellidos: </td>
                        <td>{{usuario.last_name}} </td>
                    </tr>
                    <tr>
                        <td>Correo electrónico: </td>
                        <td>{{usuario.email}} </td>
                    </tr>
                    <tr>
                        <td>DUI: </td>
                        <td>{{usuario.documento}} </td>
                    </tr>
                    <tr>
                        <td>Fecha de nacimiento: </td>
                        <td>{{usuario.nacimiento}} </td>
                    </tr>
                </table>
                <div class="row justify-content-end mt-3">
                    <div class="col-auto">
                        <a href="{% url 'editar perfil' %} "><div class="btn-indigo">Editar perfil</div></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'cambiar contraseña' %} "><div class="btn-color-sec">Cambiar contraseña</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
