{% extends 'General/base.html' %}
{% load static %}
{% block title %} Productos {% endblock %}
{% block content %}
    {% include 'General/navbar.html' %}
    <div class="container mt-10" data-aos="fade-up">
        <h2 class=" font-weight-light pt-3 pb-2">
            Productos<span class="lead text-muted mx-4"><b>{{ product_count }}</b> productos</span><hr>
        </h2>
        <form action="{% url 'buscar' %}" class="row" method='GET'>
            <div class="col-10 col-md-11"><input type="text" class="form-control form-search mb-5" placeholder="Ej. Pantalón" name="busc"></div>
            <div class="col-1"><button class="btn btn-primary mt-1" type="submit"><i class="fa fa-search"></i></button></div>
        </form>
            <div class="row">
                {% if products %}
                    {% for product in products %}
                        <div class="col-md-6 col-lg-4">
                            <figure class="card card-product-grid">
                                <div class="img-wrap mt-2">
                                    <div style="display: flex; justify-content: center;"><a href="{{product.urlFoto.url}}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{product.urlFoto.url}}" class="img-fluid" style="width: 200px; height: 200px;" alt=""></a></div>
                                </div>
                                <figcaption class="info-wrap">
                                    <h4 class="text-center mt-2">{{ product.nombre }}</h4>
                                    <h4 class="text-center">${{ product.precioVenta| floatformat:2 }}</h4>
                                    <div style="display: flex; justify-content: center; margin-bottom: 10px;">
                                        <a href="detalles/{{ product.id }}" class="btn btn-primary">Ver detalle</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>
                        <h2>No hay resultados, intente de nuevo</h2>
                    </div>
                {% endif %}
            </div>

            <nav class="mt-2" aria-label="Page navigation sample">
                {% if products.has_other_pages %}
                  <ul class="pagination justify-content-end">
                        {% if products.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Anterior</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Siguiente</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
                        {% endif %}
                  </ul>
                {% endif %}
            </nav>
        </main>
    </div>
    {% include 'General/footer.html' %}
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}
