{% extends 'General/base.html' %} 
{% load static %} 
{% block title %} ¿Quienes somos?{%endblock %} 
{% block content %} 
  {% include 'General/navbar.html' %}
<div style="overflow: hidden" data-aos="fade-up">
  <img style="z-index:-1" class="img-fluid position-absolute" src="static\images\modaHolder.jpeg" />
  <div style="height:40vw" class="container align-middle text-center pt-5">
    <div style="letter-spacing: 0.5rem;font-family:Montserrat, sans-serif;font-size:8vw;background-color: #008374" class="display-2 fw-bold text-white">TekedaFash<span style="color:#f85a40">.</span>
      <p style="font-size:3vw" class="lead fw-bold text-white pb-4">Líderes en moda salvadoreña</p>
    </div>
    
  </div>
  <div class="bg-light h-100 pb-5 pt-5">
  <div class="px-5">
    <div class="row gx-3">
      <div class="col-3">
        <div class="text-center">
          <i
            style="font-size: 10vw; color: #008374"
            class="bi bi-person-workspace"
          ></i>
        </div>
      </div>
      <div style="color: #008374" class="col-9">
        <div class="p-3">
          <div class="display-4">Espacio de trabajo seguro</div>
          <small class="text-muted fs-5">
            <br />
            En TekedaFash brindamos un ambiente laboral seguro, cómodo,
            especial y capacitado correctamente para que las actividades se 
            ejecuten de manera existosa.
          </small>
        </div>
      </div>
    </div>
    <div class="row gx-3 mt-5">
      <div class="col-3">
        <div class="text-center">
          <i
            style="font-size: 10vw; color: #008374"
            class="bi bi-currency-dollar"
          ></i>
        </div>
      </div>
      <div class="col-9">
        <div class="p-3">
          <div style="color: #008374" class="display-4">Precios accesibles</div>
          <small class="text-muted fs-5"
            ><br />TekedaFash siempre trata de estar a la vanguardia y brindar productos
             a la moda y de excelente calidad a precios amigables a los bolsillos del cliente.
          </small>
        </div>
      </div>
    </div>
    <div class="row gx-3 mt-5">
      <div class="col-3">
        <div class="text-center">
          <i
            style="font-size: 10vw; color: #008374"
            class="bi bi-calendar-check"
          ></i>
        </div>
      </div>
      <div class="col-9">
        <div class="p-3">
          <div style="color: #008374" class="display-4">
            Puntualidad con los clientes
          </div>
          <small class="text-muted fs-5"
            ><br />En TekedaFash satisfacer al cliente es lo primordial, contamos con 
            una excelente rapidez y puntualidad en cada una de las entregas de los pedidos 
            realizados, transmitiendo asi seguridad en el cliente para la adquisición de nuestros
            productos.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
 
    <div class="container mt-5">
      <div class="row gy-4">
        <div class="col-lg-6">
          <h3>Nuestra historia</h3>
          <img
            src="static/images/ambiente-laboral.jpg"
            class="img-fluid rounded-4 mb-4"
            alt=""
          />
          <p>
            TekedaFash es una de las pricipales empresas en la distribución
            de ropa de alta calidad fundada en el 2017 en El Salvador. Su nombre
            hace alusión a que la ropa en distribución siempre despertará esa 
            pasión por la moda pricipalmente porque brindamos prendas con diseños únicos
            que no encontrarás en otras tiendas y siempre te quedarán a la medida. 
          </p>
          <p>
            TekedaFash nace con el fin de adornar con su moda a cada una de las personas
            apasionadas por lucir hermosas prendas.
            Somos como un armario gigante donde siempre econtrarás prendas a tu gusto y
            puedes elejir la que más se adapte a tu momento.
            
          </p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Estamos totalmente comprometidos con el cliente, brindado la mejor atención 
              y eficiencia.Tomando como pilares fundamentales:
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle-fill"></i> Estética
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i> Calidad
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i> Diversidad de colores
                y diseños
              </li>
            </ul>
            <p>
              Somos una empresa reciente pero con un alto potencial de crecimiento,
              comprometidos con la mejora continua y a la vanguardia de las nuevas
              exigencias de la moda.
            </p>

            <div class="position-relative mt-4">
              <img
                src="/static/images/laboral2.jpg"
                class="img-fluid rounded-4"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
{% include 'General/footer.html' %} {% endblock %}
