{% extends 'General/base.html' %} {% load static %} {% block title %} Inicio
{%endblock %} {% block content %} {% include 'General/navbar.html' %}
<div style="overflow: hidden">
  <img style="z-index:-1" class="img-fluid position-absolute" src="static\images\modaHolder.jpeg" />
  <div style="height:40vw" class="container align-middle text-center pt-5">
    <div style="letter-spacing: 0.5rem;font-size:8vw;background-color: #008374" class=" display-2 fw-bold text-white">TekedaFash<span style="color:#f85a40">.</span>
      <p style="font-size:3vw" class="lead fw-bold text-white pb-4">Líderes en moda salvadoreña</p>
    </div>
    
  </div>
  <div class="bg-light h-100 pb-5 pt-5">
  <div class="px-5">
    <div class="row gx-3">
      <div class="col-3">
        <div class="text-center">
          <i
            style="font-size: 10vw; color: #008374"
            class="bi bi-person-workspace"
          ></i>
        </div>
      </div>
      <div style="color: #008374" class="col-9">
        <div class="p-3">
          <div class="display-4">Espacio de trabajo seguro</div>
          <small class="text-muted fs-5">
            <br />
            En TekedaFash buscamos tener un ambiente de trabajo lorem ip
            sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem
            ip sum lorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip
            sumlorem ip sumlorem ip sumlorem ip sumlorem
          </small>
        </div>
      </div>
    </div>
    <div class="row gx-3 mt-5">
      <div class="col-3">
        <div class="text-center">
          <i
            style="font-size: 10vw; color: #008374"
            class="bi bi-currency-dollar"
          ></i>
        </div>
      </div>
      <div class="col-9">
        <div class="p-3">
          <div style="color: #008374" class="display-4">Precios accesibles</div>
          <small class="text-muted fs-5"
            ><br />En TekedaFash buscamos tener un ambiente de trabajo lorem ip
            sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem
            ip sum lorem ip sumlorem ip sumlorem
          </small>
        </div>
      </div>
    </div>
    <div class="row gx-3 mt-5">
      <div class="col-3">
        <div class="text-center">
          <i
            style="font-size: 10vw; color: #008374"
            class="bi bi-calendar-check"
          ></i>
        </div>
      </div>
      <div class="col-9">
        <div class="p-3">
          <div style="color: #008374" class="display-4">
            Puntualidad con los clientes
          </div>
          <small class="text-muted fs-5"
            ><br />En TekedaFash buscamos tener un ambiente de trabajo lorem ip
            sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem
            ip sum lorem ip sumlorem ip sumlorem
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
 
    <div class="container mt-5">
      <div class="row gy-4">
        <div class="col-lg-6">
          <h3>Voluptatem dignissimos provident quasi corporis</h3>
          <img
            src="static/images/ambiente-laboral.jpg"
            class="img-fluid rounded-4 mb-4"
            alt=""
          />
          <p>
            Ut fugiat ut sunt quia veniam. Voluptate perferendis perspiciatis
            quod nisi et. Placeat debitis quia recusandae odit et consequatur
            voluptatem. Dignissimos pariatur consectetur fugiat voluptas ea.
          </p>
          <p>
            Temporibus nihil enim deserunt sed ea. Provident sit expedita aut
            cupiditate nihil vitae quo officia vel. Blanditiis eligendi possimus
            et in cum. Quidem eos ut sint rem veniam qui. Ut ut repellendus
            nobis tempore doloribus debitis explicabo similique sit. Accusantium
            sed ut omnis beatae neque deleniti repellendus.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in
                reprehenderit in voluptate velit.
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate trideta storacalaperda mastiro dolore
                eu fugiat nulla pariatur.
              </li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident
            </p>

            <div class="position-relative mt-4">
              <img
                src="/static/images/laboral2.jpg"
                class="img-fluid rounded-4"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
{% include 'General/footer.html' %} {% endblock %}
