{% extends 'General/base.html' %}
{% block title %} Registrate {% endblock %}
{% block content %}
{% include 'General/navbar.html' %}
<section id="contact" class="contact pt-5 mb-sm-4 min-vh-100">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Registra tu cuenta</h2>
            <p>Crear una cuenta tiene muchos beneficios ¡Descúbrelos!</p>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/registrarUsuario" method="post" role="form" class="form">
                    {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="nombre" id="name" placeholder="Nombre" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="apellido" id="email" placeholder="Apellido" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="correo" id="name" placeholder="Correo electrónico" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="date" class="form-control" name="fechaNacimiento" id="email" placeholder="Fecha de nacimiento" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="dui" id="name" placeholder="DUI" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="text" class="form-control" name="user" id="email" placeholder="Nombre de usuario" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 form-group">
                            <input type="password" class="form-control" name="contraseña" id="name" placeholder="Contraseña" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="password" class="form-control" name="contraseña2" id="email" placeholder="Confirmar contraseña" required>
                        </div>
                    </div>
                    {% for message in messages %}
                        <div class="mt-2 text-center alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    <div class="text-center"><button type="submit">Registrate</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'General/footer.html' %}
{% endblock %}
