{% extends 'General/baseAdmin.html' %}
{% block title %} Inicio {% endblock %}

{% block body %} 
<style>
    td{text-align: center;}
    h1{display: flex;justify-content: center;}
</style>
    <h1>Listado de ventas</h1>
    <table id="myTable"  >
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombre del cliente</td>
                <td>Fecha</td>
                <td>Monto</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
            <tr>
                <td>{{orden.id}} </td>
                <td>{{orden.cliente.first_name}} {{orden.cliente.last_name}} </td>
                <td>{{orden.fecha}} </td>
                <td> </td>
                <td><a href="{% url 'detalles de venta' orden.id %}"><button class="btn btn-success">Detalles</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
{% block js %} 
    <script>
        $(document).ready(function () {
            initTable("#myTable","ordenes");
        });
    </script>
{% endblock %}