{% extends 'General/baseAdmin.html' %}
{% block title %} Inicio {% endblock %}

{% block body %} 
    <h1>Listado de ventas</h1>
    <div class="table-responsive mt-5 p-1">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre del cliente</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>{{forloop.counter}} </td>
                    <td>{{orden.orden__cliente__first_name}} {{orden.orden__cliente__last_name}} </td>
                    <td>{{orden.orden__fecha}}</td>
                    <td>${{orden.total | floatformat:2}}</td>
                    <td>
                        <a href="{% url 'detalles de venta' orden.orden_id %}" class="btn btn-success"><i class="bi bi-list-ul"></i></a>
                        <a href="{% url 'Orden' orden.orden_id %}" class="btn btn-primary"><i class="bi bi-file-pdf-fill"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %} 
    <script>
        $(document).ready(function () {
            initTable("#myTable","ordenes");
        });
    </script>
{% endblock %}