{% extends 'General/baseAdmin.html' %}
{% block title %} Inicio {% endblock %}

{% block body %} 
    <h1>Listado de ventas</h1>
    <div class="table-responsive">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre del cliente</td>
                    <td>Fecha</td>
                    <td>Monto</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                <tr>
                    <td>{{orden.orden_id}} </td>
                    <td>{{orden.orden__cliente__first_name}} {{orden.orden__cliente__last_name}} </td>
                    <td>{{orden.orden__fecha}}</td>
                    <td>${{orden.total | floatformat:2}}</td>
                    <td><a href="{% url 'detalles de venta' orden.orden_id %}" class="btn btn-success"><i class="bi bi-list-ul"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %} 
    <script>
        $(document).ready(function () {
            initTable("#myTable","ordenes");
        });
    </script>
{% endblock %}