{% extends 'General/baseAdmin.html' %}
{% block title %} Edicion de staff {% endblock %}

{% block body %} 
<h1>Crear Administrador</h1>
<br>
<div class="container">
<form action="registroAdmin" method="POST">{% csrf_token %}
    <div class="mb-3">
         <label for="nombreUsuario" class="form-label">Usuario</label>
           <input type="text" id="nombreUsuario" name="nombreUsuario"  class="form-control" required>
    </div>
     <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="txtPassword" class="form-control" id="contrasena" name="contrasena"  required>
    </div>
    <h4>Datos Personales</h4>
    <hr>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre"  id="nombre" value="{{Usuario.first_name}}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="username"  name="apellido" class="form-control" id="apellido" required >
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="username" id="email" name="email" class="form-control" id="txtEmail" required>
    </div>
    <div class="mb-3">
        <label for="dui" class="form-label">DUI</label>
        <input type="username" id="dui" name="dui" class="form-control" id="txtDui"  required>
    </div>
    <div class="mb-3">
        <label for="nacimiento" class="form-label">Fecha de nacimiento</label>
        <input type = "date" name="nacimiento" class="form-control" id="nacimiento"  required>
    </div>
    <div>
        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
    </div>
</form>
</div>
{% endblock %}