{% extends 'General/baseAdmin.html' %}
{% block title %} Edición de Administrador {% endblock %}

{% block body %}
<div class="row">
        <section id="contact" class="contact">
            <div class="container" >
                <div class="col-12 mb-4">
                    <h1>Editar Administrador</h1>
                </div>
                <div class="row gx-lg-0 gy-4 p-2">
                    <div class="col-12">
                        <form action="/dashboard/cambiosAdmin/{{Usuario.id}}" method="post" role="form" class="form">
                            {% csrf_token %}
                            <div class="col-12 mb-4">
                                <h3>Información personal</h3>
                                <hr>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="text" class="form-control" name="nombre"  id="nombre" value="{{Usuario.first_name}}" placeholder="Nombre" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="text" class="form-control" name="apellido" id="apellido" value="{{Usuario.last_name}}" placeholder="Apellido" required>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" id="email" name="email" value="{{Usuario.email}}" placeholder="Correo electrónico" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="text" class="form-control" id="dui" name="dui" value="{{Usuario.documento}}" placeholder="DUI" required>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="date" class="form-control" name="nacimiento" value="{{Usuario.nacimiento|date:'Y-m-d'}}" placeholder="Fecha de nacimiento" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="text" class="form-control" name="nombreUsuario" value="{{Usuario.username}}" placeholder="Nombre usuario" required>
                                </div>
                            </div>
                            <div class="col-12 mb-4">
                                <h3>Información Complementaria</h3>
                                <hr>
                            </div>
                            <div class="row mb-2">
                                <div class="col-auto">
                                    <label for="creacion de la cuenta" class="col-form-label">Creación de la cuenta: </label>
                                </div>
                                <div class="col-auto">
                                    <label class="col-form-label">{{Usuario.date_joined}}</label>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-auto">
                                    <label for="ultimo inicio de seccion" class="col-form-label">Último inicio de sesión: </label>
                                </div>
                                <div class="col-auto">
                                    {% if Usuario.last_login is None %}
                                        <label class="col-form-label">Nunca ha iniciado sesión</label>
                                    {% else %}
                                        <label class="col-form-label">{{Usuario.last_login}}</label>
                                    {% endif %}
                                </div>
                            </div>
                            {% for message in messages %}
                                <div class="mt-2 text-center alert alert-danger alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                                <a class="btn-cancel text-center" href="{% url 'gestionarAdministrador' %}">Cancelar</a>
                                <button class="d-sm-block" type="submit" id="btn-guardar">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}