{% extends 'General/baseAdmin.html' %}
{% block title %} Edicion de staff {% endblock %}

{% block body %} 
<h1>Editar Administrador</h1>
<br>
<div class="container">
<form action="/dashboard/cambiosAdmin/{{Usuario.id}}" method="POST">{% csrf_token %}
    <div class="mb-3">
         <label for="nombreUsuario" class="form-label">Usuario</label>
           <input type="text" id="nombreUsuario" name="nombreUsuario" value="{{Usuario.username}}" class="form-control" required>
    </div>
    <h4>Datos Personales</h4>
    <hr>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="nombre"  id="nombre" value="{{Usuario.first_name}}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="username"  name="apellido" class="form-control" id="apellido" value="{{Usuario.last_name}}" required >
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="username" id="email" name="email" class="form-control" id="txtEmail" value="{{Usuario.email}}" required>
    </div>
    <div class="mb-3">
        <label for="dui" class="form-label">DUI</label>
        <input type="username" id="dui" name="dui" class="form-control" id="txtDui" value="{{Usuario.documento}}" required>
    </div>
    <div class="mb-3">
        <label for="nacimiento" class="form-label">Fecha de nacimiento</label>
        <input type = "date" name="nacimiento" class="form-control" id="nacimiento" value="{{Usuario.nacimiento|date:'Y-m-d'}}" required>
    </div>
    <h4>Información Complementaria</h4>
    <hr>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="creacion de la cuenta" class="col-form-label">Creacion de la cuenta: </label>
        </div>
        <div class="col-auto">
          <label>{{Usuario.date_joined}}</label>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="ultimo inicio de seccion" class="col-form-label">Último inicio de sesión: </label>
        </div>
        <div class="col-auto">
          <label>{{Usuario.last_login}}</label>
        </div>
    </div>
    <hr>
    <div>
        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
    </div>
</form>
</div>
{% endblock %}