{% extends 'General/baseAdmin.html' %}
{% block title %} Gestion de staff {% endblock %}

{% block body %} 


<div class="row">
    <div class="col-md-9">
        <h1>Gestionar Administradores</h1>
        <ul class="app-breadcrumb breadcrum side"> </ul>
    </div>
    <div class="col-md-3">
    <div class="d-grid">
            <a href="crearAdmin" class="btn btn-secondary rounded-pill" type="button" >Agregar Administrador<i class="px-2 bi bi-plus-circle"></i></a>
          </div>
</div>
</div>
<div class="row">
    <div class="col-12 table-responsive mt-2 p-1">
        <table class="table" id="tbl-usuarios">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.first_name}}</td>
                    <td>{{usuario.last_name}}</td>
                    <td>
                        <a href="editarAdmin/{{usuario.id}}" class="btn btn-warning m-2"><i class="bi bi-pencil-square text-white"></i></a>
                        <a href="eliminarAdmin/{{usuario.id}}" class="btn btn-danger m-2"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
                {% endfor %}
           </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js %} 
    <script>
        $(document).ready(function () {
            initTable("#tbl-usuarios","usuarios");
        });
    </script>
{% endblock %}