{% extends 'General/baseAdmin.html' %}
{% block title %} Gestionar Producto {% endblock %}

{% block body %} 
    <div class="row">
        <div class="col-md-9">
            <h1>Gestionar Producto</h1>
        </div>
        <div class="col-md-3">
            <div class="d-grid">
                <a class="btn-indigo text-center" href="{% url 'agregarProducto' %}">Agregar <i class="px-2 bi bi-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive mt-5 p-1">
            <table class="table" id="tbl-producto">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th class="d-none d-md-table-cell">Foto</th>
                        <th>Descripción</th>
                        <th class="d-none d-md-table-cell">Existencia</th>
                        <th class="d-none d-md-table-cell">Visibilidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in prendas %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.prenda__nombre}}</td>
                        <td class="d-none d-md-table-cell">
                            <img src="{{p.prenda__urlFoto}}" class="rounded mx-auto d-block" alt="..." width="100px" height="100px">
                        </td>
                        <td>{{p.prenda__descripcion}}</td>
                        <td class="d-none d-md-table-cell">{{p.existencia}}</td>
                        {% if p.prenda__visibilidad %}
                        <td class="d-none d-md-table-cell"><h6><span class="badge bg-success">Activo</span></h6></td>
                        <td>
                            <a href="{% url 'cambiarVisibilidad' p.prenda_id %}" class="btn btn-primary m-2 "><i class="bi bi-lock-fill"></i></a>
                        {% else %}
                        <td class="d-none d-md-table-cell"><h6><span class="badge bg-danger">Inactivo</span></h6></td>
                        <td>
                            <a href="{% url 'cambiarVisibilidad' p.prenda_id %}" class="btn btn-primary m-2 "><i class="bi bi-unlock-fill"></i></a>
                        {% endif %}
                            <a href="" class="btn btn-warning m-2"><i class="bi bi-pencil-square text-white"></i></a>
                            <a href="" class="btn btn-danger m-2"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %} 
    <script>
        $(document).ready(function () {
            initTable("#tbl-producto","productos");
        });
    </script>
{% endblock %}