{% extends 'General/baseAdmin.html' %} {% block title %} Inicio {% endblock %}
{% block body %}
<h1>Bienvenido</h1>
<div class="row">
  <div class="col-md-9 table-responsive">
    <table class="table align-middle">
      <thead class="table-dark">
        <tr>
          <th class="col-5">Nombre</th>
          <th class="col-3 text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Administrador</th>
          <td class="text-center">
            <a href="" class="btn btn-success m-1"
              ><i
                class="bi bi bi-plus-circle text-white"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Añadir"
              ></i
            ></a>
            <a href="" class="btn btn-warning m-1"
              ><i
                class="bi bi bi-pencil-fill text-white"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Editar"
              ></i
            ></a>
          </td>
        </tr>
        <tr>
          <th scope="row">Compras</th>
          <td class="text-center">
            <a href="" class="btn btn-success m-1"
              ><i
                class="bi bi bi-plus-circle text-white"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Añadir"
              ></i
            ></a>
            <a href="" class="btn btn-warning m-1"
              ><i
                class="bi bi bi-pencil-fill text-white"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Editar"
              ></i
            ></a>
          </td>
        </tr>
        <tr>
          <th scope="row">Clientes</th>
          <td class="text-center">
            <a href="" class="btn btn-success m-1"
              ><i
                class="bi bi bi-plus-circle text-white"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Añadir"
              ></i
            ></a>
            <a href="" class="btn btn-warning m-1"
              ><i
                class="bi bi bi-pencil-fill text-white"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Editar"
              ></i
            ></a>
          </td>
        </tr>
        <tr>
          <th scope="row">Ventas</th>
          <td class="text-center">
            <a href="" class="btn btn-success m-1"
              ><i
                class="bi bi bi-plus-circle text-white"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Añadir"
              ></i
            ></a>
            <a href="" class="btn btn-warning m-1"
              ><i
                class="bi bi bi-pencil-fill text-white"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Editar"
              ></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <div class="d-grid text-center box shadow p-3 bg-white d-none d-lg-block">
      {{cal|safe}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6"><canvas id="myChart2" class=""></canvas></div>
</div>

<script type="text/javascript">
  var labels = [
    "Ene",
    "Feb",
    "Mar",
    "Abr",
    "May",
    "Jun",
    "Jul",
    "Ago",
    "Sept",
    "Oct",
    "Nov",
    "Dic",
  ];

  const data = {
    labels: labels,
    datasets: [
      {
        label: "Datos de ventas de {{año}}",
        backgroundColor: "rgb(255, 99, 132)",
        borderColor: "rgb(255, 99, 132)",
        data: [0, 10, 5, 2, 20, 30, 45],
      },
    ],
  };

  const config = {
    type: "bar",
    data: data,
    options: {},
  };
</script>

{% endblock %} {%block js%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const myChart2 = new Chart(document.getElementById("myChart2"), config);
  const myChart = new Chart(document.getElementById("myChart"), config);
</script>

{%endblock%}
