{% extends 'General/baseAdmin.html' %}
{% block title %} Inicio {% endblock %}

{% block body %} 
<div class="row">
    <div class="col-12">
        <h1>Registrar compras</h1>   
    </div>
    <form action="{% url 'agregarCompra'%}" method="POST">
    {% csrf_token %}
    <div class="col-12">
        <div class="card mt-3">
            <div class="card-header">
                Información de existencia
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-3 col-xl-2 col-form-label">Nombre:</label>
                            <div class="col-sm-9 col-xl-10">
                                <select class="form-select" id="nombre-prenda" name="id-prenda">
                                <option selected disabled>Seleccione una prenda</option>
                                {% for p in Prendas %}
                                <option value="{{p.id}}">{{p.nombre}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="existencias-row" hidden>
                    <div class="col-xs-12">
                        <div class="col-12">
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-3 col-xl-2 col-form-label">Existencia:</label>
                                <div class="col-sm-9 col-xl-10">
                                    <div class="row" id="existencias-content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4" id="form-content" hidden>    
        <div class="card">
            <div class="card-header">
                Aumento de existencia
            </div>
            <div class="card-body">
                <div class="row">
                <div class="col-xs-12">
                    <div class="col-12">
                        <div class="mb-3 row">
                            <label for="staticEmail" class="col-sm-3 col-xl-2 col-form-label">Existencia:</label>
                            <div class="col-sm-9 col-xl-10">
                                <div class="row" id="existencias-form">

                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <a type="button" class="btn btn-secondary" href="{% url 'dashboard' %}">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>           
    </div>
    </form>
</div>
{% endblock %}
{% block js %}
<script>
$('#nombre-prenda').change(()=>{
    $.ajax({
        type: 'GET',
        url: "{% url 'obtenerTalla' %}",
        data: {
            id: $('#nombre-prenda').val()
        }
    })
    .done((response)=>{ 
        let content = ``;
        let form = ``;
        (response.data).forEach(talla=>{
            content += 
                `<div class="col-md-3">
                    <p>Talla ${talla.nombre}: <span class="badge bg-secondary">${talla.cantidad}</span></p>
                </div>`;
            form += 
                `<div class="col-md-3">
                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-auto col-form-label">Talla ${talla.nombre}:</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="talla-${talla.id}" name="talla-${talla.id}" value="0" min="0">
                        </div>
                    </div>                    
                </div>
                `
        });
        $('#existencias-content').html(content);
        $('#existencias-form').html(form);     
        $('#form-content').removeAttr("hidden");
        $('#existencias-row').removeAttr("hidden");
    })
    .fail(function(jqXHR){
        //Se muestran en consola los posibles errores de la solicitud AJAX
        console.log('Error:' + jqXHR.status + ' ' + jqXHR.statusText);
        $('#form-content').addAttr("hidden");
        $('#existencias-row').addAttr("hidden");
    });
});
</script>
{% endblock %}