<footer id="footer" class="footer" data-aos="fade-up">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span>TekedaFash</span>
          </a>
          <p>La mejor tienda en linea de ropa en El Salvador</p>
          <div class="social-links d-flex mt-4">
            <a href="https://twitter.com/TekedaFash" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/TekedaFash-103699842585830" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/tekdafash/" class="instagram" target="_blank"><i class="bi bi-instagram" target="_blank"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="{% url 'quienesSomos' %}">¿Quienes somos?</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'Perfil' %}">Mi perfil</a></li>
            {% else %}
                <li><a href="/iniciarSesion">Iniciar Sesión</a></li>
                <li><a href="/registrarse">Registrarse</a></li>
            {% endif %}

          </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">

        </div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contáctanos</h4>
          <p>
            <strong>Phone:</strong> +503 2222-2222<br>
            <strong>Email:</strong> tekedafash@gmail.com<br>
          </p>

        </div>

      </div>
    </div>

  </footer>