<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        {% if user.is_staff == 0 %}
            <a href="{% url 'inicio' %}" class="logo d-flex align-items-center">
                <h1>TekedaFash<span>.</span></h1>
            </a>
        {% else %}
            <a href="{% url 'dashboard' %}" class="logo d-flex align-items-center">
                <h1>TekedaFash<span>.</span></h1>
            </a>
        {% endif %}
        <nav id="navbar" class="navbar">
            <ul>
                {% if user.is_staff == 0 %}
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="#">¿Quienes somos?</a></li>
                <li>
                    <a href="#">
                        <div class="position-relative">
                            <i class="bi bi-cart-fill fs-4"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{request.session.carrito | length}}
                            </span>
                        </div>
                    </a>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#">
                        {% if user.is_authenticated %}
                        <i class="bi bi-person-circle fs-4"></i> 
                        {% else %}
                        <i class="bi bi-people-fill fs-4"></i> 
                        {% endif %}
                        <i class="bi bi-chevron-down dropdown-indicator"></i>
                    </a>
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'Perfil' %} ">Mi Perfil</a></li>
                            {% if user.is_staff == 0 %}
                                <li><a href="{% url 'misCompras' %}">Mis Compras</a></li>
                            {% endif %}
                            <li><a href="/cerrarSesion">Cerrar Sesión</a></li>
                        {% else %}
                            <li><a href="/iniciarSesion">Iniciar Sesión</a></li>
                            <li><a href="/registrarse">Registrarse</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </nav>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header>